body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Hind Siligurdi';
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  margin-left: 0.4rem;
  font-family: "Hind Siliguri";
  font-size: 0.8rem;
  color: #247CC0;
  text-transform: uppercase;
}

.nav__info-list, .nav__profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.info-list__item,
.profile-list__item {
  margin: 0.4rem;
  font-family: "Hind Siliguri";
  font-size: 0.8rem;
}

.menu-hamburger {
  display: none;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #030D15;
}

.container__inner-main {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__inner-description {
  width: 48%;
  font-family: 'Hind Siliguri';
}

.container__inner-title {
  color: #C72535;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.145em;
}

.container__inner-text__big {
  margin: 0;
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 4.8rem;
}

.container__inner-text__big-background {
  font-weight: 600;
  background-color: #247cc033;
  color: #247CC0;
}

.container__inner-text__small {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  opacity: 60%;
}

.container__inner-prices {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__inner-button {
  height: 3.3rem;
  width: 9.4rem;
  border: transparent;
  background-color: #247CC0;
  color: white;
  text-transform: uppercase;
}

.container__inner-price__prev {
  opacity: 50%;
}

.container__inner-price {
  margin: 0rem 1rem 0rem 1rem;
}

.container__inner-image {
  width: 48%;
}

img {
  width: 100%;
}

.brands__container-inner {
  margin: 5rem 0 5rem 0;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 45px 30px 0px rgba(34, 60, 80, 0.25);
          box-shadow: 0px 45px 30px 0px rgba(34, 60, 80, 0.25);
}

.brands___image-container {
  width: 10.1rem;
}

.recent__products {
  margin-top: 10rem;
}

.recent__container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent__items {
  font-weight: 600;
  margin: 1rem;
}

.recent__pictures {
  width: 200px;
  width: 16.5rem;
  height: 15.5rem;
}

.recent__items-title {
  font-family: "Hind Siliguri";
}

.recent__items-text {
  opacity: 60%;
  font-weight: 400;
}

.recent__items-price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__container-previous {
  margin-left: 0.5rem;
  opacity: 60%;
}

.checked {
  color: orange;
}

.special__offer {
  margin-top: 10rem;
}

.special__container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special__container-inner__left, .special__container-inner__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: white;
  margin: 0.5rem;
  height: 16rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #ee74f6), color-stop(40%, #1e6eb3), to(#1e6eb3));
  background: linear-gradient(90deg, #ee74f6 2%, #1e6eb3 40%, #1e6eb3 100%);
}

.about {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 48%;
  padding: 0.5rem;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__img {
  width: 70%;
  height: 70%;
}

.about__text {
  padding-top: 2rem;
  width: 65%;
  color: #030d15;
  opacity: 60%;
}

.about__title h5 {
  color: #C72535;
  opacity: 60%;
  font-weight: 500;
}

.about__list {
  padding: 0;
  list-style-type: none;
}

.about__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__list-item p {
  margin: 1rem;
}

.popular__upper-container {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__upper-container h4 {
  color: #C72535;
  opacity: 60%;
  font-weight: 500;
}

.popular__upper-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.popular__upper-container ul li {
  margin-left: 1rem;
}

.popular__upper-container ul a:hover {
  color: #C72535;
  opacity: 60%;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.popular__lower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.popular__lower-container__item {
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #030d151e;
  border-radius: 1rem;
}

.popular__lower-container__item img {
  height: 70%;
  width: 70%;
}

.popular__lower-container__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.popular__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__inner-prices {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__inner-prices s {
  margin-left: 1rem;
}

.popular__inner-colors {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 10vh;
  }
  .nav__info-list, .nav__profile-list {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */