@mixin default {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}

