.about {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 48%;
        padding: 0.5rem;
    }
    &__right {
        display: flex;
        width: 48%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__vector {
        position: relative;
        width: 78%;
        height: 90%;
    }
    &__img {
        position: absolute;
        
        width: 30%;
    }
    &__text {
        padding-top: 1rem;
        width: 65%;
        color: #030d15;
        opacity: 60%;
    }
    &__title h4 {
        color: #C72535;
        opacity: 60%;
        font-weight: 500;
    }
    &__list {
        padding: 0;
        list-style-type: none;
        &-item {
            display: flex;
            align-items: center;
            & p {
                margin: 1rem;
            }
        }
    }
}