@media only screen and (max-width: 1024px) {
    .container__inner {
        &-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        &-main {
        flex-direction: column-reverse;
        }
        &-title, &-text__big, &-text__small {
            font-size: 1rem;
            text-align: center;
        }
        &-prices {
            display: flex;
            flex-direction: column-reverse;
        }
        &-button {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .special__container-inner {
        display: flex;
        flex-direction: column;
    }

    .about {
        &__container {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
        &__left {
            margin-top: 2rem;
        }
    }

    .popular {
        &__lower-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 70%;
            }
        }
        &__list-item {
            a {
                font-size: 0.6rem;
            }
        }
    }
    

    .shop {
        &__prices {
            & span, & s {
                font-size: 0.7rem;
            }
        }
    }
    

    .contacts {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer {
        display: flex;
        &__social-icons {
            width: 100%;
            display: flex;
            align-items: center;
        }
        &__column,
        & .footer__social-icons__upper,
        & .footer__social-icons__lower {
            display: none;
        }
    }
    
    .recent {
        &__container-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__pictures {
            width: 22rem;
            height: 20rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: 10vh;
    }
    
    .nav {
        &__info-list,
        &__profile-list {
        display: none;
        }
    }

    .menu-hamburger {
        display: block;
    }

    .container__inner-description {
        width: 100%;
        
    }

    .container__inner-text__big, span {
        font-size: 1.2rem;
    }
}