@media only screen and (max-width: 768px) {
    .header {
        height: 10vh;
    }
    
    .nav {
        &__info-list,
        &__profile-list {
        display: none;
        }
    }

    .menu-hamburger {
        display: block;
    }

    .container__inner-description {
        width: 100%;
        
    }

    .container__inner-text__big, span {
        font-size: 1.2rem;
    }
}