.recent {
    &__container-inner {
        @include flex-justify-between;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        margin: 1rem;
        & s {
            margin-left: 0.8rem;
            opacity: 60%;
        }
    }

    &__pictures {
        width: 200px;
        width: 16.5rem;
        height: 15.5rem;
    }

    &__items-title {
        font-family: $header-font;
    }

    &__items-text {
        text-align: left;
        opacity: 60%;
        font-weight: 400;
    }

    &__items-price {
        &__container {
            @include flex-align-center;
        }
    }
}

.checked {
    color: #C72535;
}

